{% extends "OroTrackerBundle::layout.html.twig" %}

{% block breadcrumb %}
    <a href="{{ path('_tracking_project_list') }}">{{ 'project.projects_list'|trans({}, 'OroTrackerBundle') }}</a>
    {% if project.getCode() %} / <a href="{{ path('_tracking_project_show', {'projectCode':project.getCode()}) }}">{{ project.getCode() }}</a> {% endif %}
{% endblock %}

{% block description %}
    {% if project.getId() %}
        {{ 'project.edit'|trans({}, 'OroTrackerBundle') }}
    {% else %}
        {{ 'project.add'|trans({}, 'OroTrackerBundle') }}
    {% endif %}
{% endblock %}

{% block content %}
    <form action="
    {% if project.getId() %}
        {{ path('_tracking_project_edit', {'projectCode': project.getCode()}) }}
    {% else %}
        {{ path('_tracking_project_create') }}
    {% endif %}
    " {{ form_enctype(form) }} method="POST" class="tracker_project">
{{ form_widget(form) }}
</form>
{% endblock %}
