{% if activity.isNewIssueType() %}
    <a href="{{ path('_oro_user_profile', {'username': activity.getUser().getUsername() }) }}">{{ activity.getUser().getFullname() }}</a>
    {{ 'activity.new_issue_created'|trans({}, 'OroTrackerBundle') }}
    <a href="{{ path('_tracking_issue_show', {'projectCode': activity.getProject().getCode(), 'issueCode': activity.getIssue().getCode()}) }}">
        {{ activity.getIssue().getSummary() }}
    </a>
    {{ 'activity.task'|trans({}, 'OroTrackerBundle') }}
{% elseif activity.isStatusChangedType()  %}
    <a href="{{ path('_oro_user_profile', {'username': activity.getUser().getUsername() }) }}">{{ activity.getUser().getFullname() }}</a>
    {{ 'activity.issue_status_changed'|trans({}, 'OroTrackerBundle') }}
    '{{ activity.getBody() }}'
    {{ 'layout.on'|trans({}, 'OroTrackerBundle') }}
    <a href="{{ path('_tracking_issue_show', {'projectCode': activity.getProject().getCode(), 'issueCode': activity.getIssue().getCode()}) }}">
        {{ activity.getIssue().getSummary() }}
    </a>
{% elseif activity.isNewCommentType()  %}
    <a href="{{ path('_oro_user_profile', {'username': activity.getUser().getUsername() }) }}">{{ activity.getUser().getFullname() }}</a>
    {{ 'activity.commented'|trans({}, 'OroTrackerBundle') }}
    <a href="{{ path('_tracking_issue_show', {'projectCode': activity.getProject().getCode(), 'issueCode': activity.getIssue().getCode()}) }}">
        {{ activity.getIssue().getSummary() }}
    </a>
{% endif %}