{% extends "TrackerBundle::layout.html.twig" %}

{% block description %}
    {{ 'user.edit'|trans({}, 'TrackerBundle') }}
{% endblock %}

{% block content %}
<form action="{{ path('_tracking_user_update', {'id': id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_form">

    {{ form_errors(form) }}

    <div>
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div>
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </div>

    <div>
        {{ form_errors(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
    </div>

    <div>
        {{ form_label(form.fullname) }}
        {{ form_errors(form.fullname) }}
        {{ form_widget(form.fullname) }}
    </div>

    <div>
        {{ form_label(form.timezone) }}
        {{ form_errors(form.timezone) }}
        {{ form_widget(form.timezone) }}
    </div>

    <div>
        {{ form_label(form.avatarFile) }}
        {% if user.getWebAvatarPath() %}
            <a href="{{ user.getWebAvatarPath() }}" target="_blank"><img src="{{ user.getWebAvatarPath() }}" width="2%"/></a>
        {% endif %}
        {{ form_errors(form.avatarFile) }}
        {{ form_widget(form.avatarFile) }}
    </div>

    {% if form.roles is defined %}
        <div>
            {{ form_label(form.roles) }}
            {{ form_errors(form.roles) }}
            {{ form_widget(form.roles) }}
        </div>
    {% endif %}

    <button type="submit" name="save">{{ 'form.save'|trans({}, 'TrackerBundle') }}</button>
    {{ form_end(form) }}
</form>
{% endblock %}