{% extends "TrackerBundle::layout.html.twig" %}

{% block description %}{{ 'user.users_list'|trans({}, 'TrackerBundle') }}{% endblock %}

{% block page_actions %}
[ <a href="{{ path('fos_user_registration_register') }}">{{ 'user.add'|trans({}, 'TrackerBundle') }}</a> ]
{% endblock %}

{% block content %}
    {% if users|length > 0 %}
        <table width="850">
            <thead>
                <tr>
                    <th width="5%">{{ 'grid_title.id'|trans({}, 'TrackerBundle') }}</th>
                    <th width="20%">{{ 'grid_title.email'|trans({}, 'TrackerBundle') }}</th>
                    <th width="20%">{{ 'grid_title.username'|trans({}, 'TrackerBundle') }}</th>
                    <th width="10%">{{ 'grid_title.full_name'|trans({}, 'TrackerBundle') }}</th>
                    <th width="10%">{{ 'grid_title.actions'|trans({}, 'TrackerBundle') }}</th>
                </tr>
            <thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.getId() }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getFullname() }}</td>
                    <td><a href="{{ path('_tracking_user_edit', {'id': user.getId()}) }}">{{ 'grid.edit'|trans({}, 'TrackerBundle') }}</a>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'user.users_not_found'|trans({}, 'TrackerBundle') }}
    {% endif %}
{% endblock %}

