{% extends "TrackerBundle::layout.html.twig" %}

{% block description %}
    {{ 'project.projects_list'|trans({}, 'TrackerBundle') }}
{% endblock %}

{% block page_actions %}
    {% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_MANAGER') %}
        [ <a href="{{ path('_tracking_project_edit') }}">{{ 'project.add'|trans({}, 'TrackerBundle') }}</a> ]
    {% endif %}
{% endblock %}

{% block content %}
    {% if projects|length > 0 %}
        <table width="850">
            <thead>
                <tr>
                    <th width="10%">{{ 'grid_title.code'|trans({}, 'TrackerBundle') }}</th>
                    <th width="30%">{{ 'grid_title.summary'|trans({}, 'TrackerBundle') }}</th>
                    <th width="20%">{{ 'grid_title.label'|trans({}, 'TrackerBundle') }}</th>
                    <th width="10%">{{ 'grid_title.actions'|trans({}, 'TrackerBundle') }}</th>
                </tr>
            <thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.getCode() }}</td>
                        <td>{{ project.getSummary() }}</td>
                        <td>{{ project.getLabel() }}</td>
                        <td>
                            {% if is_granted('view', project) %}
                            <a href="{{ path('_tracking_project_show', {'projectCode':project.getCode()}) }}">{{ 'grid.show'|trans({}, 'TrackerBundle') }}</a>
                            {% endif %}
                            {% if is_granted('edit', project) %}
                            | <a href="{{ path('_tracking_project_edit', {'projectCode':project.getCode()}) }}">{{ 'grid.edit'|trans({}, 'TrackerBundle') }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'project.projects_not_found'|trans({}, 'TrackerBundle') }}
    {% endif %}
{% endblock %}