{% extends "TrackerBundle::layout.html.twig" %}

{% block breadcrumb %}
    <a href="{{ path('_tracking_project_list') }}">{{ 'project.projects_list'|trans({}, 'TrackerBundle') }}</a> /
        <a href="{{ path('_tracking_project_show', {'projectCode':project.getCode()}) }}">{{ project.getCode() }}</a>
{% endblock %}

{% block description %}
{{ project.getSummary() }}
{% endblock %}

{% block page_actions %}
[ <a href="{{ path('_tracking_project_edit') }}">{{ 'project.add'|trans({}, 'TrackerBundle') }}</a> ]<br>
[ <a href="{{ path('_tracking_project_edit', {'projectCode': project.getCode()}) }}">{{ 'project.edit'|trans({}, 'TrackerBundle') }}</a> ]<br>
[ <a href="{{ path('_tracking_issue_edit', {'projectCode': project.getCode()}) }}">{{ 'issue.add'|trans({}, 'TrackerBundle') }}</a> ]<br>
{% endblock %}

{% block content %}
    <p>
    <p><b>{{ 'layout.issues_list'|trans({}, 'TrackerBundle') }}</b></p>
    {{ render(controller(
    'TrackerBundle:Issue:list',
    {'projectCode': project.getCode()}
    )) }}
    </p>
    <hr>
    <p>
    <p><b>{{ 'layout.activity_list'|trans({}, 'TrackerBundle') }}:</b></p>
    {{ render(controller(
    'TrackerBundle:Activity:listByProject',
    {'projectCode': project.getCode()}
    )) }}
    </p>
{% endblock %}