{% extends "OroTrackerBundle::layout.html.twig" %}

{% block breadcrumb %}
    <a href="{{ path('_tracking_project_list') }}">{{ 'project.projects_list'|trans({}, 'OroTrackerBundle') }}</a> /
    <a href="{{ path('_tracking_project_show', {'projectCode' : project.getCode()}) }}">{{ project.getCode() }}</a> /
    {% if isSubtask %}
    <a href="{{ path('_tracking_issue_show', {'projectCode': project.getCode(), 'issueCode': issue.getParent().getCode()}) }}">{{ issue.getParent().getCode() }}</a> /
    {% endif %}
    <a href="{{ path('_tracking_issue_show', {'projectCode': project.getCode(), 'issueCode': issue.getCode()}) }}">{{ issue.getCode() }}</a>
{% endblock %}

{% block description %}{{ issue.getSummary() }}{% endblock %}

{% block page_actions %}
    {% if is_granted('edit', issue) %}
        [ <a href="{{ path('_tracking_issue_edit', {'projectCode': project.getCode(), 'issueCode': issue.getCode()}) }}">{{ 'issue.edit'|trans({}, 'OroTrackerBundle') }}</a> ]
    {% endif %}
    {% if isStory %}
        {% if is_granted('add_issue', issue.getProject()) %}
            <br>[ <a href="{{ path('_tracking_issue_add_subtask', {'projectCode': project.getCode(), 'issueCode': issue.getCode()}) }}">{{ 'issue.add_sub'|trans({}, 'OroTrackerBundle') }}</a> ]
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <p>{{ 'issue.project'|trans({}, 'OroTrackerBundle') }}: {{ issue.getProject().getSummary() }}</p>
    <p>{{ 'issue.type'|trans({}, 'OroTrackerBundle') }}: {{ issue.getType() }}</p>
    <p>{{ 'issue.reporter'|trans({}, 'OroTrackerBundle') }}: {{ issue.getReporter().getFullName() }}</p>
    <p>{{ 'issue.assignee'|trans({}, 'OroTrackerBundle') }}: {{ issue.getAssignee().getFullName() }}</p>
    <p>{{ 'issue.status'|trans({}, 'OroTrackerBundle') }}: {{ issue.getStatus() }}</p>
    <p>{{ 'issue.resolution'|trans({}, 'OroTrackerBundle') }}: {{ issue.getResolution() }}</p>

    <p>{{ 'issue.created'|trans({}, 'OroTrackerBundle') }}: {{ issue.getCreated()|date("j F Y H:i", app.user.getTimezone()) }}</p>
    <p>{{ 'issue.updated'|trans({}, 'OroTrackerBundle') }}: {{ issue.getUpdated()|date("j F Y H:i", app.user.getTimezone()) }}</p>

    <p>{{ 'issue.description'|trans({}, 'OroTrackerBundle') }}: {{ issue.getDescription() }}</p>
    <hr>
    <br/>
    <p>
    <b>{{ 'layout.activity_list'|trans({}, 'OroTrackerBundle') }}:</b>
    {{ render(controller(
    'OroTrackerBundle:Activity:listByIssue',
    {'code': issue.getCode()}
    )) }}
    </p>
    <hr>
    <br/>
    <p>
    <b>{{ 'layout.collaborators_list'|trans({}, 'OroTrackerBundle') }}:</b>
    {{ render(controller(
    'OroTrackerBundle:Issue:listCollaboratorByIssue',
    {'issueCode': issue.getCode()}
    )) }}
    </p>
    <hr>
    {% if isStory %}
        <br/>
        <p>
        <b>{{ 'issue.subissue_list'|trans({}, 'OroTrackerBundle') }}:</b>
        {{ render(controller(
        'OroTrackerBundle:Issue:subtasksList',
        {'projectCode': project.getCode(), 'issueCode': issue.getCode()}
        )) }}
        </p>
        <hr>
    {% endif %}
    <br/>
    <p>
    <b>{{ 'layout.comments_list'|trans({}, 'OroTrackerBundle') }}:</b>
    {{ render(controller(
    'OroTrackerBundle:Issue:listOfComments',
    {'issueCode': issue.getCode()}
    )) }}
    </p>
    {% if is_granted('add_comment', issue) %}
        <hr>
        <br/>
        <p>
        <b>{{ 'layout.add_comment'|trans({}, 'OroTrackerBundle') }}:</b>
        <form action="{{ path('_tracking_edit_comment', {'projectCode': project.getCode(), 'issueCode': issue.getCode()}) }}" {{ form_enctype(comment_form) }} method="POST" class="tracker_comment">
            {{ form_widget(comment_form) }}
        </form>
        </p>
    {% endif %}

    <script>
        $(function() {
            $('div > a#edit').click(function()
            {
                $('td > #body').each(function() {
                            $(this).show();
                        }
                );

                $('td > #form').each(function() {
                            $(this).hide();
                        }
                );

                var parent = $(this).parent().parent();
                parent.find('#body').hide();
                parent.find('#form').show();

                return false;
            })
        });
    </script>
{%  endblock %}